.background{
    
    background-image: url("./background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    height: 100%; 
    position:fixed  
}



.title{
    
    text-align: center;
    color: rgb(27, 33, 28);
    font-size: 100px;
    font-family: cursive;
    -webkit-text-stroke: 2px rgb(176, 241, 191);
   
}

.buttonGo{
    background-color: black;
    flex-direction: column;
    color: rgb(176, 241, 191);
    font-size: 50px;
    font-family: cursive, Lato, Arial, Helvetica, sans-serif;
    border-radius: 20px 80px 80px;
    border: rgb(14, 165, 112) solid 8px;
    padding: 25px;
    cursor: pointer;
    justify-content: center;
    -webkit-text-stroke: 2px rgb(14, 165, 112);
}



.buttonGo:focus,
.buttonGo:hover {
    background-color: #606c76;
    border-color: #606c76;
    color: #fff;
    outline: 0;
}